/* APP */
.app-subtitle {
    font-size: 1.7rem;
    max-width: 1024px;
    margin: auto;
    margin-bottom: 4rem;
    text-transform: uppercase;
}

.main-actions {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
    width: 1024px;
}

button , input {
    outline: none;
}

/* NAVBAR COMPONENT */
.nav {
    background-color: black;
    width: 100%;
}

.navbar-container {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1024px;
    margin: auto;
    margin-bottom: 2rem;
    padding: 25px 0;
}

.navbar-title {
    font-size: 1.8rem;
}

.fa-tools {
    color: orange;
}

.navbar-link {
    background-color: orange;
    border-radius: 5px;
    color: black;
    font-weight: 600;
    margin-left: 1rem;
    padding: 6px 30px;
    text-decoration: none;
}

.navbar-link:hover {
    background-color: rgba(255, 166, 0, 0.856);
}

.input-user,
.input-pass {
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    margin-left: 4px;
    padding: 5px 10px;
    outline: none;
    width: 180px;
}

.input-user:focus,
.input-pass:focus {
    box-shadow: 0 0 10px white;
}

/* CARDLIST COMPONENT */

.cardlist-container {
    max-width: 1024px;
    margin: auto;
}

.cardlist-list {
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.table {
    border: 1px solid silver;
    margin: auto;
    width: 100%;
}

.table .table-thead {
    background-color: rgb(90, 90, 90);
    color: white;
    font-size: 1rem;
}

.table tr:nth-child(even) {
    background-color: rgba(192, 192, 192, 0.712);
}

.table td {
    border: 1px solid silver;
    padding: .3rem;
    text-align: center;
}

.table th {
    padding: .5rem;
}

.buttons-container {
    display: flex;
    justify-content: space-evenly;
}

.card-button {
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 600;
    padding: 6px 20px;
    width: 40%;
}

.card-button:hover {
    opacity: .9;
}
.copy-id {
    border-radius: 5px;
    border: 1px solid black;
    background-color: white; 
    color: black;
    cursor: pointer;
    font-weight: 600;
    padding: 6px 5px;
    transition: all 0.5s ease;
}

.copy-id:active {
    background-color: green;
    color: honeydew;
    transform: scale(1.1);
}

.button-edit {
    background-color: royalblue;
}

.button-delete {
    background-color: rgb(204, 55, 55);
}

.fa-trash-alt, .fa-edit {
    margin-right: .3rem;
}

/* SEARCHBOX COMPONENT */

.searchbox {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
    width: 100%;
}

.searchbox-search {
    border-radius: 5px;
    border: 2px solid black;
    font-size: 1rem;
    outline: none;
    padding: 0 1rem;
    margin-right: 1rem;
    width: 40%;
}

.searchbox-search:focus {
    border-color: orange;
    box-shadow: 0 0 5px rgb(219, 175, 94);
}

.searchbox-button {
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    outline: none;
    padding: .5rem 2rem;
}

.searchbox-button:hover {
    background-color: rgba(0, 0, 0, 0.801);
}

.fa-search {
    margin-right: .5rem;
}

/* BUTTONADD COMPONENT */
.buttonadd {
    background-color: rgb(84, 150, 84);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 10px 15px;
    width: 20%;
}

.buttonadd:hover {
    background-color: rgb(102, 180, 102);
}

.fa-plus {
    font-size: 1rem;
    margin-right: .3rem;
}

/* LOGIN */

.login {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2rem;
    max-width: 500px;
    background-color: white;
    border-radius: 5px;
}

.input-user, .input-pass {
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;
    
}

.login-button {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 0.6rem;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.login-title {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 2rem;
    color: rgb(240, 159, 9);
    text-align: center;
}


/* LOGIN COMPONENT */

.logged-message {
    color: red;
    font-weight: 600;
    margin-top: 1rem;
    text-align: center;
}

/* --------------------------------------------- TODO*/
.button-list-alt {
    color: white;
    text-decoration: none;
}

.button-list-alt:hover {
    text-decoration: underline;
}